<mat-sidenav-container class="map-wrapper">
  <mat-sidenav class="sidenav" opened mode="side" [disableClose]="true">
    <mat-card class="location-card">
      <mat-card-header>
        <mat-card-title>
          Your Location
        </mat-card-title>
      </mat-card-header>
      <mat-card-content class="location-card-content">
        <input matInput [placeholder]="this.address" [readonly]="true">
      </mat-card-content>
      <mat-card-actions>
        <button mat-button matTooltip="Choose your location on the map." (click)="locationButtonClickHandler($event)">PICK LOCATION</button>
      </mat-card-actions>
    </mat-card>
    <mat-form-field>
      <mat-label>Filter by type</mat-label>
      <mat-select [value]="attractionType" (selectionChange)="attractionSelect($event)">
        <mat-option value="artwork">Artwork</mat-option>
        <mat-option value="attraction">Attraction</mat-option>
        <mat-option value="camp_site">Camp Site</mat-option>
        <mat-option value="picnic_site">Picnic Site</mat-option>
        <mat-option value="viewpoint">View Point</mat-option>
        <mat-option value="zoo">Zoo</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Favorite Places
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-chip-list>
        <mat-chip *ngFor="let fav of favoritePlaces; index as i" (click)="clickFavorite($event, fav)">
          <div class="icons">
            <mat-icon>{{fav.type}}</mat-icon>
          </div>
          <div>
            {{fav.attributes.name}}
          </div>
        </mat-chip>
      </mat-chip-list>
      <!-- <div class="place" *ngFor="let fav of favoritePlaces; index as i">
        <div class="icons">
          <mat-icon>{{fav.type}}</mat-icon>
        </div>
        <div class="place-content">
          {{fav.attributes.name}}
        </div>
      </div> -->
    </mat-expansion-panel>
    <button mat-button class="suggest-button" (click)="toggleSuggestion(true)">Suggest a Location</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <div #mapViewNode [style.cursor]="pickingSuggestionLocation ? 'pointer' : ''"></div>
  </mat-sidenav-content>
</mat-sidenav-container>
<div class="shade" [style.display]="suggestionWrapperToggled ? 'block' : 'none'">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        Suggest a New Attraction
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Attraction Name</mat-label>
        <input matInput placeholder="Name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Attraction Type</mat-label>
        <mat-select>
          <mat-option value="artwork">Artwork</mat-option>
          <mat-option value="attraction">Attraction</mat-option>
          <mat-option value="camp_site">Camp Site</mat-option>
          <mat-option value="picnic_site">Picnic Site</mat-option>
          <mat-option value="viewpoint">View Point</mat-option>
          <mat-option value="zoo">Zoo</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Website</mat-label>
        <input matInput placeholder="https://www.example.com">
      </mat-form-field>
      <div class="single-line-form">
        <mat-form-field>
          <mat-label>Longitude</mat-label>
          <input [(value)]="suggestionLongitude" matInput>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Latitude</mat-label>
          <input [(value)]="suggestionLatitude" matInput>
        </mat-form-field>
        <button mat-button (click)="chooseLocationOnMap()">Choose on Map</button>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>SUBMIT</button>
      <button mat-button (click)="toggleSuggestion(false)">CLOSE</button>
    </mat-card-actions>
  </mat-card>
</div>